<form action="/blog/criarconteudo">

<div class="formulario">
    <label for="autor">Nome do autor:</label>
    <input type="text" name="autor" placeholder="Digite o seu nome...">
</div>
<div class="formulario">
    <label for="tema">Tema da Postagem:</label>
    <input type="text" name="tema" placeholder="Digite o tema da postagem...">
</div>
<div class="formulario">
    <label for="titulo">Título da Postagem:</label>
    <input type="text" name="titulo" placeholder="Digite o título da postagem...">
</div>
<div class="formulario">
    <label for="descricao">Descrição da Postagem:</label>
    <textarea name="descricao" placeholder="Discorra..."></textarea>
</div>
<input type="submit" class="btn">

</form>