<h1>Confira nossas postagens</h1>

<!-- O container .postagens fica aqui fora -->
<div class="postagens">

    {{#each postagens}} 
    <!-- O loop agora cria apenas os itens individuais -->
    <div class="postagem">
        <h2><a href="/blog/{{this._id}}">{{this.titulo}}</a></h2>
        <h5>por: {{this.autor}}</h5>
        <h5><a href="/blog/editarconteudo/{{this._id}}">Editar</a></h5>
    </div>
    {{/each}}

</div>