<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/blog">Página Principal</a></li>
            <li><a href="/blog/postagens">Postagens</a></li>
            <li><a href="/blog/criarconteudo">Criar Postagem</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>